@page "/"

<head>
    <PageTitle>Cactus</PageTitle>
</head>

<body>
    <section>
        <div class="imge">
            <img src="https://i.pinimg.com/564x/7a/27/7c/7a277c38581f30ede3417f61fae8e551.jpg" />
        </div>
    </section>
    
    <section>
        <div class="texts">
            <h1>
                🌵 Welcome to Cactus! 🌵
            </h1>
            <p>
                Here each cactus finds its own corner of the sun and warmth. We are glad to see you in our friendly circle!
                Feel free to share your stories, photos, and ideas. Let's make Cactus an even brighter and more interesting place together!
                Have a nice chat and make new acquaintances!
            </p>
        </div>
    </section>
        
    
</body>


@* <body>
    <section>
        <div class="image-container">
            <img src="https://i.pinimg.com/564x/7e/d7/c0/7ed7c02c9cc33fac7626a01434c6edac.jpg" />
            <div class="input-container">
                <input type="text" id="sname" name="SurName" placeholder="SurName">
                <input type="text" id="password" name="Pass" placeholder="Password">
                <input type="button" value="Log in">
            </div>
        </div>
    </section>
</body> *@




@code 
{
    public class User
    {
        public int Id { get; set; }
        public string Username { get; set; } = null!;
        public string Email { get; set; } = null!;
        public string PasswordHash { get; set; } = null!;
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public DateTime Birthdate { get; set; }
        public string Gender { get; set; }
        public string ProfilePicture { get; set; }
        public string Bio { get; set; }
        public DateTime CreatedAt { get; set; }
        public DateTime UpdatedAt { get; set; }
    }

    public User[] result = new User[] { };

    string CurrentDate;
    string CurrentTime;

    protected override async Task OnInitializedAsync()
    {
        var date = DateTime.Now;
        CurrentDate = date.ToShortDateString();
        CurrentTime = date.ToShortTimeString();

        var client = new HttpClient();
        client.BaseAddress = new Uri("https://api-for-socnetwork.onrender.com");

        result = await client.GetFromJsonAsync<User[]>("api/User1");

        return;
    }

}

