@page "/"

<section>
    <div>Cactus</div>
    <img src="https://i.pinimg.com/564x/7e/d7/c0/7ed7c02c9cc33fac7626a01434c6edac.jpg" />
    <div style=""></div>
    <input type="button" value="Log in">
</section>


@code 
{
    public class User
    {
        public int Id { get; set; }
        public string Username { get; set; } = null!;
        public string Email { get; set; } = null!;
        public string PasswordHash { get; set; } = null!;
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public DateTime Birthdate { get; set; }
        public string Gender { get; set; }
        public string ProfilePicture { get; set; }
        public string Bio { get; set; }
        public DateTime CreatedAt { get; set; }
        public DateTime UpdatedAt { get; set; }
    }

    public User[] result = new User[] { };

    string CurrentDate;
    string CurrentTime;

    protected override async Task OnInitializedAsync()
    {
        var date = DateTime.Now;
        CurrentDate = date.ToShortDateString();
        CurrentTime = date.ToShortTimeString();

        var client = new HttpClient();
        client.BaseAddress = new Uri("https://api-for-socnetwork.onrender.com");

        result = await client.GetFromJsonAsync<User[]>("api/User1");

        return;
    }

}

